
/* ---- General ---- */
body, html {
	margin:auto;
    font-family: 'Raleway', 'Helvetica';

}
h1, h2, h3, h4 {
	text-align: center;
	font-family: 'Raleway', 'Helvetica';
	color: black;
	font-size: 40px;
	font-weight: 500;
}
h1 {
	line-height: 1em;
	margin-bottom:0em;
	margin-top:0.2em;
	padding-top: 30px;
	padding-bottom: 30px;
}
h2 {
	text-align: center;
	font-size: 29px;
	margin-top: 0.2em;
	margin-bottom: 0.6em;
}
h3 {
	text-align: left;
	font-size: 29px;
	margin-top: 0.2em;
	margin-bottom: 0.6em;
}
h4 {
	font-weight: bold;
	text-align: center;
	font-size: 20px;
	margin-top: 0.2em;
	margin-bottom: 0.6em;
}
h5 {
	margin-top:0;
}
h6 {
	font-weight: bold;
	text-align: left;
	font-size: 18px;
}

.main {
  transition: margin-right 0.5s;
}
.body-padding{
padding-left: 23%;
padding-right: 5%;
}
.bottom-padding25{
  padding-bottom: 25px;
}

/* ---- About ---- */
.about{
	font-size: 16px;
}
.about p{
	text-align: left;
}
.about a:hover{
	color: gray;
}
.about a{
	color: #333;
	text-decoration: none;	
}
.about #resume{
  margin: auto;
}
.about #imgleft{
	float: left;
	margin-right: 30px;
  margin-left: 10%;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 10%;
  height: 10%;
}
.about #imgright{
	float: right;
	margin-right: 10%;
    margin-left: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 10%;
    height: 10%;
}
.about-padding-right{
	
	padding-right: 20%;
	padding-left: 10%;
}
.about-padding-left{
	
	padding-left: 20%;
	padding-right: 10%;

}

/* --- Navigation bar --- */
.navbar {
	height: 100%;
	width: 18%;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #333;
	overflow-x:hidden;
	padding-top: 2.5%;
	justify-content: left;
	align-items: center;
}

.navbar img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 80%;	
}

#navbar-list{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

#navbar-name  {
	font: 20px "Raleway";
	color: white;
	display: block;
	text-align: left;
	
  text-decoration: none;

  -o-transition: padding-bottom 0.4s linear; /* opera */
  -ms-transition: padding 0.4s linear; /* IE 10 */
  -moz-transition: padding-bottom 0.4s linear; /* Firefox */
  -webkit-transition: padding-bottom 0.4s linear; /*safari and chrome */
  text-decoration: none;
}

#navbar-text  {
	color: gray;
	display: block;
	text-align: left;
	padding-top: 0px;
  padding-right: 25px;
  padding-bottom: 0px;
  padding-left: 10%;
  line-height: 125%;
  text-decoration: none;
}


.navbar a {
	color: white;
	display: block;
	text-align: left;
	padding-top: 15px;
  padding-right: 25px;
  padding-bottom: 15px;
  padding-left: 10%;
  text-decoration: none;
  }

.navbar #navbar-list a:hover {
	background-color: #111;
	color: white;
	padding-top: 20px;
	padding-bottom: 20px;
	transition: 0.2s;

}

.navbar #navbar-name a:hover {
  font: bold 20px "Raleway";
}

/* ---- Skills ---- */
.skills {
	color: #333;
}

.skills li {
    font-size: 18px;
}

.skill-rating {
    float: right;
    
}

.skill-title {
    font-weight: bold;
}

/* --- Dropdown Handler --- */
/* Dropdown Button */
.dropbtn {
    color: #333;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 340px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    /*
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    */
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    color:gray;
}


/* ---- button ---- */

.button {
  display: inline-block;
  padding: 0.5em 1.0em;
  background: #333;
  border: none;
  background-image: linear-gradient( to bottom, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.2) );
  color: white;
  font-family: 'Raleway';
  font-size: 16px;
  cursor: pointer;
}

.button:hover {
  background-color: #111;
}

.button:active,
.button.is-checked {
  background-color: gray;
  text-decoration: none;
  border:none;
  outline:none;
}

/* ---- button-group ---- */

.button-group {
  margin-bottom: 20px;
  text-align: center;
}

.button-group:after {
  content: '';
  display: block;
  clear: both;
}

.button-group .button {
  border-radius: 0;
  margin-left: 0;
  margin-right: 0;
  float: center;
}

* { box-sizing: border-box; }

/* ---- isotope ---- */

.projects h2 {
    margin-bottom: 30px;
}
#outer-caption a{
	color: black;
  text-align: center;
	text-decoration: none;
	outline: 0;
  margin-bottom: 40px;
}
#outer-caption a:hover{
	color: gray;
}


/* ---- clear fix ---- */
.grid:after {
  content: '';
  display: block;
  clear: both;
  width:300px;
  height:300px;
}
/* ---- Element Handler ---- */

.element {
	display:block;
  position: relative;
  overflow: hidden;
  transform: translateZ(0);
  width:300px;
  height:300px;
  color: white;
  text-decoration: none;
  outline:0;
  
}

.element_media {
    display: block;
    object-fit: cover;
    width:300px;
    height:300px;
     color: white;
    text-decoration: none;
    outline:0;
    
}
.element_overlay {

	opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 10px;
    color: white;
    text-decoration: none;
    outline:0;
    transition: all .35s ease-out;
    width:300px;
    height:300px;
}
.element_overlay a{
	 color: white;
    text-decoration: none;
    outline:0;
}
.element:hover .element_overlay{
	color: white;
	text-decoration: none;
	outline:0;
	opacity: 1;
}
.element:hover a{
	color: white;
	text-decoration: none;
	outline: 0;
}
.element:hover h5{
	color: white;
	text-decoration: none;
	outline: 0;
}
.element::before {
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
     color: white;
    text-decoration: none;
    outline:0;
    background: transparent;
    transition: background .35s ease-out;
}
.element:hover::before {
    background: rgba(0, 0, 0, .7);
     color: white;
    text-decoration: none;
    outline:0;
}

/*
NOTE  example of how the projects can have different customization 
.element-item.alkali          { background: #F00; background: hsl(   0, 100%, 50%); }
.element-item.alkaline-earth  { background: #F80; background: hsl(  36, 100%, 50%); }
.element-item.lanthanoid      { background: #FF0; background: hsl(  72, 100%, 50%); }
.element-item.actinoid        { background: #0F0; background: hsl( 108, 100%, 50%); }
.element-item.transition      { background: #0F8; background: hsl( 144, 100%, 50%); }
.element-item.post-transition { background: #0FF; background: hsl( 180, 100%, 50%); }
.element-item.metalloid       { background: #08F; background: hsl( 216, 100%, 50%); }
.element-item.diatomic        { background: #00F; background: hsl( 252, 100%, 50%); }
.element-item.halogen         { background: #F0F; background: hsl( 288, 100%, 50%); }
.element-item.noble-gas       { background: #F08; background: hsl( 324, 100%, 50%); }
*/

/* Education */


/* Contact */
.contact ul{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.contact li{
	display:inline;
	padding:10px;
}




